body {
    background-color: whitesmoke;
}

div {
    text-align: center;
}

h1 {
    color: #eb212e;
}

h2 {
    color: whitesmoke;
}

p {
    color: black;
}

#webchat{
    background-color: whitesmoke;
    min-width: 400px;
    min-height: 500px;
    height: 50%;
}

ul li {
    text-align: center;
    color: whitesmoke;
}

p#linkReti {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}
